<ng-container *ngIf="cart$ | async as cart;">
  <h1>Mon Panier ({{cart.totalItems}}) </h1>
  <mat-card>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Prix Sous Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>{{item.name}}</td>
            <td>
              <label>
                <select class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </label>
            </td>
            <td>{{item.price}} F CFA</td>
            <td>{{item.subTotal}} F CFA</td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="display: flex; justify-content: flex-end;">
        <div class="col-md-4">
          <h4 style="font-size: 22px; font-weight: bold">Total: {{cart.total}} F CFA</h4>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
