<ng-container *ngIf="cart$ | async as cart;">
  <h1>Mon Panier ({{cart.totalItems}}) </h1>
  <mat-card>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Prix Sous Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>{{item.name}}</td>
            <td>
              <label>
                <select class="form-control" [ngModel]="item.selectedQty" (change)="changeSelectedQty(item, $event.target.value)">
                  <option *ngFor="let _ of item.qtyArray; let i = index" [value]="i + 1">{{i + 1}}</option>
                </select>
              </label>
            </td>
            <td>{{item.price}} F CFA</td>
            <td>{{item.subTotal}} F CFA</td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="display: flex; justify-content: flex-end;">
        <div class="col-md-4">
          <h4 style="font-size: 22px; font-weight: bold">Total: {{cart.total}} F CFA</h4>
          <br>
          <button (click)="saveOrder()" *ngIf="cart.totalItems > 0" class="btn-block" mat-raised-button style="background-color: orangered; color: white; text-transform: uppercase;">Valider ma commande</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
